@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --success-color: green;
  --error-color: red;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
